images/projects/tide_sim/how[[:space:]]to[[:space:]]record[[:space:]]on[[:space:]]windows[[:space:]]-[[:space:]]Zoeken[[:space:]]and[[:space:]]34[[:space:]]more[[:space:]]pages[[:space:]]-[[:space:]]Personal[[:space:]]-[[:space:]]Microsoft​[[:space:]]Edge[[:space:]]2025-02-05[[:space:]]16-27-55.mp4 filter=lfs diff=lfs merge=lfs -text
